.logo {
	width: 180px;
	max-width: 100%;
	height: auto;
	cursor: pointer;

	&:hover {
		.diamond {
			transform: rotate(360deg);
		}
	}
}

.diamond {
	transform-origin: 30px 36px;
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);

	&.spinning {
		transform: rotate(360deg);
	}
}

@media (max-width: 1200px) {
	.logo {
		width: 160px;
	}
}

@media (max-width: 768px) {
	.logo {
		width: 170px;
	}
}

@media (max-width: 480px) {
	.logo {
		width: 160px;
	}
}